name: Generate Contribution Graph

on:
  schedule:
    # Se ejecuta cada 12 horas
    - cron: "0 */12 * * *"
  # Permite ejecutarlo manualmente desde la pestaña "Actions"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate Graph
    steps:
      - uses: actions/checkout@v3
      - uses: lowlighter/metrics@latest
        with:
          # Token necesario para leer tus contribuciones
          token: ${{ secrets.GITHUB_TOKEN }}
          # Rama donde se guardará la imagen (debe coincidir con tu HTML)
          output_branch: output
          # Archivo donde se guardará la imagen (debe coincidir con tu HTML)
          output_filename: pacman-contribution-graph.svg
          
          # Configuraciones de la tarjeta:
          user: ${{ github.repository_owner }}
          template: classic
          config_timezone: America/Bogota # O la zona horaria que prefieras
          
          # Módulos para crear el gráfico (solo el módulo de contribuciones es clave)
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_isocalendar_manual: false
          
          # Aquí forzamos el tema de color
          config_display: absolute
          config_padding: 0
          config_order: isocalendar
          
          # Configuración del "juego" pacman. ¡Importante!
          plugin_isocalendar_game: pacman
          plugin_isocalendar_game_skip: false
